<h2>Welcome to the Mulloy/Allen Beer Pong Tournament!</h2>

<h3>Here are the registered teams:</h3>

<% if @teams.any? %>
  <ul>
    <% @teams.each do |team| %>
      <li><a href="/teams/<%= team.id() %>"><%= team.name() %></a></li>
    <% end %>
  </ul>
<% else %>
  <h3>So far no teams have registered. Register below.</h3>
<% end %>

<form action="/teams/new" method="post">
  <label for="name">Team name:</label>
  <input type="text" name="name" id="name">
  <label for="player1">Player name:</label>
  <input type="text" name="player1" id="player1">
  <label for="player2">Player name:</label>
  <input type="text" name="player2" id="player2">
  <button type="submit" class="btn btn-primary">Register team</button>
</form>
